[submodule "workflows"]
	path = workflows
	url = https://github.com/m2ux/agent-workflows.git
[submodule "private-metadata"]
	path = private-metadata
	url = https://github.com/m2ux/ai-metadata.git
	branch = master
